/* resetar todas os estilos primeiro */

body {
    text-align: center;
}

h1 {
    font-family: Hack Nerd Font;
}

.stage {}

.sqm {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid grey;
}

.o {
    position: relative;
}

.o:after {
    position: absolute;
    content: "\1F17E";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* .x {
    position: relative;
}

.x:after {
    position: absolute;
    content: "\274E";
    font-size: 50px;
    line-height: 100px;;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */